<html>
<head>
<body>
<h2 class="title">Meet Rebecca</h2>
<body>  
<div class="container about-container">
  <div class ="row no-gutter">
  <div class="col-lg-6 col-md-12 image-div">
     <%= image_tag 'Webpage-selfportrait.jpg', :class => "first-pic" %> 
    </div>
    <div class ="col-lg-6 col-md-12 about-div">

    <h5 class="about"></h5> 
     <p class = "frosty"> Creative and detailed oriented Full Stack Web Developer
      with a focus on UX design. Highly personable with excellent client
      and relationship building skills. Proven knack for analytical problem solving from
      her background in medicine and business. Known among colleagues for a strong work ethic that
      keeps her dedicated until the very end. Regularly complimented on verbal
      and written communication abilities.
       </p>
       <p class="frosty">
       Currently entertaining new opportunities.  Please get in touch via email:
          <a href="mailto:rebecca.s.douglass@gmail.com" class="contact-link">rebecca.s.douglass@gmail.com</a>
          <ul class="social">
            <div class="center">
              <li class="d-inline-block">
                <button type="button" class="btn btn-outline-dark"> <a href="https://docs.google.com/document/d/1ggKPNXDCAE5IYnmKaXLdH0m7jbySAOOBdkNq3l-ADpA/edit?usp=sharing" target="blank"> <i class="fas fa-file fa-2x"></i> </a></button> <span class=small>resume</span></li>
              <li class="d-inline-block">
                <button type="button" class="btn btn-outline-dark"> <a href="https://github.com/beccadouglass" target="blank"> <i class="fab fa-github fa-2x"></i> </a></button> <span class=small>github</span></li>
              <li class="d-inline-block">
                <button type="button" class="btn btn-outline-dark"> <a href="https://www.linkedin.com/in/rebecca-douglass-054402196/" target="blank" > <i class="fab fa-linkedin fa-2x"></i> </a></button> <span class=small>linkedin</span></li>
            </div>
          </ul>        
        </p>
    
    </div>
  
    
<!-- </div> -->
    <div class="container">
    <hr>
        <p class="frosty skills no-gutter">
                    Rebecca has developed proficiency and expertise
                    in the following programming languages and
                    comfort with the following tools:</p>
                    <p align ="center">
                    <i class="fab fa-github fa-2x"></i>
                    <i class="fab fa-trello fa-2x"></i>
                    <i class="fab fa-slack fa-2x"></i>
                    <i class="fab fa-html5 fa-2x"></i>
                    <i class="fab fa-sass fa-2x"></i>
                    <i class="fab fa-css3-alt fa-2x"></i>
                    <i class="fab fa-js-square fa-2x"></i>
                    <i class="fab fa-bootstrap fa-2x"></i>
                    <i class="fab fa-wordpress fa-2x"></i>
                    <i class="fab fa-python fa-2x"></i>
                    <i class="fab fa-adobe fa-2x"></i>
                    <i class="fab fa-sketch fa-2x"></i>
                    <br/>
                    <br/>
<hr>
                  </p>
      </div>
    </div>
  </div>

</div>
<div>
<p>
<br/>
<br/>
</p>
</div>
</body>
</html>


<%# Card Code %>

  <div class="col-lg-6 col-md-12">

    <div class="card mx-auto">
      <a href="https://mello-rebecca-douglass.herokuapp.com/boards">
        <%= image_tag 'Melloboard.png', class: 'card-img-top' %> </a>
        <div class="card-body">
          <h5 class="card-title">Mello</h5>
          <p class="card-text">Boards, lists, and cards organizer app that
              allows you to prioritize work, family or personal projects.
              Features a fluid user interface by using JavaScript and JQuery. It
              allows users to rapidly add dynamic content.
            <div class="project-link">
              <button type="button" class="btn btn-light"> <a href="https://github.com/beccadouglass/mello-fullstack" target="blank"> GitHub</a> </button>
              <button type="button" class="btn btn-light"> <a href="https://mello-rebecca-douglass.herokuapp.com/boards" target="blank"> Heroku</a> </button>
            </div>
           <!-- > <div class ="card-footer">
              <a href=https://github.com/beccadouglass/mello-fullstack class="link-size" target="blank">https://github.com/beccadouglass/mello-fullstack
                </a> <a
                href=https://mello-rebecca-douglass.herokuapp.com/boards class="link-size" target="blank">https://mello-rebecca-douglass.herokuapp.com/boards
                </a>
                <br> 
            </div> -->
          </p>
        </div>
    </div>
  </div>
</div>
</div>

<div class="col-lg-6 col-md-12">
    <div class="card mx-auto">
      <a href="https://shopper-rebecca-douglass.herokuapp.com">
      <%= image_tag 'shopper.png', class: 'card-img-top' %> </a>
      <div class="card-body">
        <h5 class="card-title">Shopper</h5>
        <p class="card-text">Simple ecommerce site developed solely by Rebecca that
         allows signed in users to add products
         to cart and checkout with Stripe API.  
         Also new products can be added by administration as they become available.
         
          <div class="project-link">
              <button type="button"class="btn btn-light"> <a href="https://github.com/beccadouglass/shopper" target="blank"> GitHub</a> </button>
              <button type="button"class="btn btn-light"> <a href="https://shopper-rebecca-douglass.herokuapp.com" target="blank"> Heroku</a> </button>
          </div> 
             <div class ="card-footer">
                <a href=https://github.com/beccadouglass/shopper class="link-size" target="blank">https://github.com/beccadouglass/shopper </a> 
                <a href=https://shopper-rebecca-douglass.herokuapp.com class="link-size" target="blank">https://shopper-rebecca-douglass.herokuapp.com
                </a>
              </div>
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">  
    <div class="card mx-auto">
      <a href="https://nomster-becca-douglass.herokuapp.com">
        <%= image_tag 'nomster1.png', class: 'card-img-top' %> </a>
      <div class="card-body">
        <h5 class="card-title">Inquest</h5>
        <p class="card-text">A Yelp clone that integrates with the Google Maps API
      and includes features like user comments, star ratings,
      image uploading, and user authentication.  Checkout restaurants in Jackson, Wyoming through this app.
          <div class="project-link">
            <button type="button" class="btn btn-light"> <a href="https://github.com/beccadouglass/nomster" target="blank">GitHub</a> </button>
            <button type="button" class="btn btn-light"> <a href="https://nomster-becca-douglass.herokuapp.com" target="blank">Heroku</a> </button>
          </div>
         <!-- <div class ="card-footer">
            <a href=https://github.com/beccadouglass/nomster class="link-size" target="blank">https://github.com/beccadouglass/nomster </a> 
            <a href=https://nomster-becca-douglass.herokuapp.com class="link-size" target="blank">https://nomster-becca-douglass.herokuapp.com
        </a>
          </div> -->
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mx-auto">
      <a href="https://flixter-beccadouglass.herokuapp.com">
        <%= image_tag 'flixter1.png', class: 'card-img-top' %> </a>
      <div class="card-body">
        <h5 class="card-title">Flixter</h5>
        <p class="card-text">A educational ecourse with two sided, video streaming marketplace platform that
          features credit card payment capabilities, user role
          management, complex user interfaces, and advanced
          database relationships. 
          <div class="project-link">
            <button type="button" class="btn btn-light"> <a href="https://github.com/beccadouglass/flixter" target="blank"> GitHub</a> </button>
            <button type="button" class="btn btn-light"> <a href="https://flixter-beccadouglass.herokuapp.com" target="blank"> Heroku</a> </button>
          </div>
           <!-- <div class ="card-footer">
              <a href=https://github.com/beccadouglass/flixter class="link-size" target="blank">https://github.com/beccadouglass/flixter </a> 
              <a href=https://flixter-beccadouglass.herokuapp.com class="link-size" target="blank">https://flixter-beccadouglass.herokuapp.com
              </a> 
            </div> -->
        </p>
      </div>
    </div>
  </div>