<!DOCTYPE html>
<html lang="en">
  <head>
    <%# <meta name="viewport" content="width=device-width, initial-scale=1.0"> %>
    <title>Coding by Rebecca Douglass</title>
    <link rel="shortcut icon" type="image/png" href="img/rfslogo.png">

  </head>
  <h2 class="title">Coding Projects</h2>

<body>

<%# GRID CONTAINERS %>

<div class="containergrid">

    <section class="designs">
        <div class="design">
            <%= image_tag 'flashcards.png', :class => "design__img" %>
            <h5 class="design__name">Flashcards</h5>
            <%# <div class="design__pics">
                <div class="design__sprite">
                <a href="#"><i class="fas fa-images fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Pics</p>
            </div>
            <div class="design__video">
                <div class="design__sprite">
                <a href="#"><i class="fas fa-video fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Video</p>
            </div> %>
            <div class="design__git">
                <div class="design__sprite">
                <a href="https://github.com/beccadouglass/flashcards" target="blank"><i class="fab fa-github fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Code</p>
            </div>
            <%# <div class="design__web">
                <div class="design__sprite">
                <a href="#"><i class="fas fa-globe fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Website</p>
            </div> %>
            <div class="design__bottom">Javascript and ReactJS.  Flip through cards to test your knowledge in React history.
              Click cards to flip and see answer on back.</div>
        </div>
        

        <div class="design">
            <%= image_tag 'shopper.png', :class => "design__img" %>
            <h5 class="design__name">Chestnut Feather</h5>
            <%# <div class="design__pics">
                <div class="design__sprite">
                <a href="#"><i class="fas fa-images fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Pics</p>
            </div>
            <div class="design__video">
                <div class="design__sprite">
                <a href="#"><i class="fas fa-video fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Video</p>
            </div>  %>
            
            <div class="design__git">
                <div class="design__sprite">
                <a href="https://github.com/beccadouglass/shopper" target="blank"><i class="fab fa-github fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Code</p>
            </div>
            <div class="design__web">
                <div class="design__sprite">
                <a href="https://shopper-rebecca-douglass.herokuapp.com" target="blank"><i class="fas fa-globe fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Website</p>
            </div>
            <div class="design__bottom">Simple ecommerce site developed solely by Rebecca that
         allows signed in users to add products
         to cart and checkout with Stripe API.  
         Also new products can be added by administration as they become available.</div>
        </div>

        <div class="design">
            <%= image_tag 'rfs-screen2.png', :class => "design__img"%>
            <h5 class="design__name">Reflections From The Saddle</h5>
            <%# <div class="design__pics">
                <div class="design__sprite">
                <a href="#"> <i class="fas fa-images fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Pics</p>
            </div>
            <div class="design__video">
                <div class="design__sprite">
                <a href="#"><i class="fas fa-video fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Video</p>
            </div> %>
            <div class="design__git">
                <div class="design__sprite">
                <a href="https://github.com/beccadouglass/wordpressrfs" target="blank"><i class="fab fa-github fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Code</p>
            </div>
            <%# <div class="design__web">
                <div class="design__sprite">
                <a href="#"><i class="fas fa-globe fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Website</p>
            </div> %>
            <div class="design__bottom">Advanced CSS, SASS, PHP, Wordpress. Blog site with e-learning platform.  Still being developed.  Check back for updates.</div>
        </div>

        <div class="design">
            <%= image_tag 'nomster1.png', :class => "design__img"%>
            <h5 class="design__name">Nomster</h5>
            <%# <div class="design__pics">
                <div class="design__sprite">
                <a href="#"> <i class="fas fa-images fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Pics</p>
            </div>
            <div class="design__video">
                <div class="design__sprite">
                <a href="#"><i class="fas fa-video fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Video</p>
            </div> %>
            
            <div class="design__git">
                <div class="design__sprite">
                <a href="https://github.com/beccadouglass/nomster" target="blank"><i class="fab fa-github fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Code</p>
            </div>
            <div class="design__web">
                <div class="design__sprite">
                <a href="https://nomster-becca-douglass.herokuapp.com" target="blank"><i class="fas fa-globe fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Website</p>
            </div>
            <div class="design__bottom">Ruby on Rails.  A Yelp clone that integrates with the Google Maps API
      and includes features like user comments, star ratings,
      image uploading, and user authentication.  Checkout restaurants in Jackson, Wyoming through this app.</div>
        </div>

        <div class="design">
            <%= image_tag 'flixter1.png', :class => "design__img"%>
            <h5 class="design__name">Flixter</h5>
            <%# <div class="design__pics">
                <div class="design__sprite">
                <a href="#"> <i class="fas fa-images fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Pics</p>
            </div>
            <div class="design__video">
                <div class="design__sprite">
                <a href="#"><i class="fas fa-video fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Video</p>
            </div> %>
            <div class="design__git">
                <div class="design__sprite">
                <a href="https://github.com/beccadouglass/flixter" target="blank"><i class="fab fa-github fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Code</p>
            </div>
            <div class="design__web">
                <div class="design__sprite">
                <a href="https://flixter-beccadouglass.herokuapp.com" target="blank"><i class="fas fa-globe fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Website</p>
            </div>
            <div class="design__bottom">Ruby on Rails.  A educational ecourse with two sided, video streaming marketplace platform that
          features credit card payment capabilities, user role
          management, complex user interfaces, and advanced
          database relationships. </div>
        </div>

        <div class="design">
            <%= image_tag 'Melloboard.png', :class => "design__img"%>
            <h5 class="design__name">Mello</h5>
            <%# <div class="design__pics">
                <div class="design__sprite">
                <a href="#"> <i class="fas fa-images fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Pics</p>
            </div>
            <div class="design__video">
                <div class="design__sprite">
                <a href="#"><i class="fas fa-video fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Video</p>
            </div> %>
            <div class="design__git">
                <div class="design__sprite">
                <a href="https://github.com/beccadouglass/mello-fullstack" target="blank"><i class="fab fa-github fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Code</p>
            </div>
            <div class="design__web">
                <div class="design__sprite">
                <a href="https://mello-rebecca-douglass.herokuapp.com/boards" target="blank"><i class="fas fa-globe fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Website</p>
            </div>
            <div class="design__bottom">Javascript and JQuery.  Boards, lists, and cards organizer app that
              allows you to prioritize work, family or personal projects.  Allows users to rapidly add dynamic content. </div>
        </div>
    </section>

  </div>

  <h2 class='title'>Coding Snippets</h2>
    <div class="container shadow">
    <div class ="row no-gutter">
        <div class ="col">
            <h4>Temperature Conversion</h4>
            <p>This ruby program will prompt the user for a temperature in degrees Celsius and let the user know
          what the corresponding termperature is in Fahrenheit.
            </p>
          
      <pre><code class="language-ruby coding-example">
#code without using method
puts &quot;Enter today's temperature
in celsius&quot;
celsius = gets.chomp
val = celsius.to_i * 1.8 + 32
puts val

# code using method
puts &quot;Enter today's temperature
in celsius&quot;
celsius = gets.chomp
val = celsius.to_i
def conversion(number)
    return (number * 1.8) + 32
    end
puts conversion(val)
</code></pre>
    </div>
  </div>
</div>
<br class="clear" />

  <div class="container shadow">
    <div class ="row no-gutter">
        <div class ="col">
        <h4>Ordinal Challenge</h4>
          <p>This Ruby program will convert a plain number to the ordinal number. So for example, if the user
          enters 2, it will display 2nd, if the user enters 3, it will display 3rd, etc </p>

        <pre><code class="language-ruby coding-example">
puts &quot;Enter a number:&quot;
number = gets.chomp
val = number.to_i

ord =  val % 10 
ordsecond = val % 100

if number == &quot;11&quot; || number == &quot;12&quot;
|| number == &quot;13&quot;
puts &quot;That's the #{number}th item&quot;
elsif ord == 1 
puts &quot;That's the #{number}st item&quot;
elsif ord == 1 &amp;&amp; ordsecond == 1
puts &quot;That's the #{number}th item&quot;
elsif ord == 2 &amp;&amp; ordsecond != 1
puts &quot;That's the #{number}nd item&quot;
elsif ord == 3 
puts &quot;That's the #{number}rd item&quot;
else
puts &quot;That's the #{number}th item&quot;
end
      </code></pre>
    </div>  
  </div>
</div>
<br class="clear" />

<div class="container shadow">
  <div class ="row no-gutter">
      <div class ="col">
      <h4>Foobar</h4>
        <p>This Ruby program is an adaptation of a classic technical interview problem which displays
        sequences of the Foobar pattern.</p>
   
      <pre><code class="language-ruby coding-example">
puts &quot;How many items they want to see?&quot;
items = gets.chomp.to_i
numbers = (1..items)
numbers.each do |num|

if num % 3 == 0 &amp;&amp; num % 5 == 0
puts &quot;FooBar&quot;
elsif num % 3 == 0
puts &quot;Foo&quot;
elsif num % 5 == 0
puts &quot;Bar&quot;
else
puts num
end
end
      </code></pre>
    </div>
  </div>
</div>
<p>
<br/>
<br/>
</p>
</body>

</html>
